.page {
  min-height: 100%;
}

.sections {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem 4rem;
    gap: 4rem;
  }
}
